/* utility */
/* bg-color header: rgb 238 113 46;
btn-%: rgb: 235 50 35;
btn-sostenibilita: rgb: 55 125 34;
bg-color footer: rgb: 26 26 26; 
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* modifico header */
header{
    background-color: rgb(238, 113, 46);
    width: 100%;
}
#logo-boolean{
    width: 120px;
    height: 27px;
}
.container-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 0;
    color: white;
    max-width: 1170px;
    margin-left: 100px;
    margin-right: 100px;
    
    
}
.sex{
    display: flex;
    flex-direction: row;
    list-style: none;

}
ul li{
    padding: 5px;
}
.icons i{
    padding: 5px;
}
/* fine header */

/* modifico main */
.container-main img{
   width: 300px;
   height: 400px;
}
.container-main{
  
}
.container-cards{
    display: flex;
    flex-flow: row wrap;  
    justify-content: space-between;
    max-width: 1170px;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 50px;
}
/* modifico btn */
.cards{
    /* width: calc(100% / 3); */
    position: relative;
}
.heart{
    position: absolute;
    top: 5px;
    right: 0;
    padding: 5px;
    background-color: white;
}
.percentuale{
    position: absolute;
    left:0;
    bottom: 150px;
    padding: 4px;
    background-color: rgb(235, 50, 35);
}
.sostenibilita{
    position: absolute;
    bottom: 150px;
    left: 44px;
    padding: 4px;
    background-color: rgb(55, 125, 34);
}
.sostenibilita_2{
    position: absolute;
    bottom: 150px;
    left: 0;
    padding: 4px;
    background-color: rgb(55, 125, 34);
}
/* modifico details */
.brand{
    font-size: 15px;
}
.name-object{
    font-size: 20px;
}
.price-1{
    display: inline-block;
    color: red;
    font-size: 12px;
}
.price-2{
    display: inline-block;
    font-size: 12px;
}
















/* modifico footer */
footer{
    background-color: rgb(26, 26, 26);
    width: 100%;
}
.container-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: white;
    padding: 20px 0;
    max-width: 1170px;
    margin-left: 100px;
    margin-right: 100px;
}
.text-footer, .icon-footer{
    padding-bottom: 10px;
    font-size: 17px;
}
.icon-footer{
    padding: 5px;
}
